.center-image{
    margin: auto;
    width: 50%;
    padding-top: 100px;
}

img {
    display: block;
    margin: auto;
}

.search-bar{
    width: 60%;
    height: 40px;
    display: block;
    margin: auto;
}

.search-buttons{
    text-align: center;
    padding-top: 20px;
}

#google-button, #lucky-button{
    background-color: whitesmoke;
    height: 40px;
    width: 140px;
    margin: 5px;
}

.topnav{
    padding: 10px 0 0 20px;
}

.topnav a{
    color: darkgray;
    text-decoration: none;
}

.topnav a:hover{
    text-decoration: underline;
}

.about{
    padding: 0px 10px 0 0px;
}

.store{
    padding: 10px 0 0 0;
}

.gmail {
    float: right;
    padding: 0 10px 0 0;
}

.image{
    float: right;
    padding: 0 160px 0 0;
    
}

.bottomnav{
    position: fixed;
    bottom: 0;
    padding: 10px 0 0 0;
    height: 40px;
    width: 100%;
    
    background-color: whitesmoke;
}

.bottomnav a {
    text-align: center;
    text-decoration: none;
    color: darkgrey;
}

.bottomnav a:hover{
    text-decoration: underline;
}

.advertising{
    padding: 0 10px 0 10px;
}

.settings{
    float: right;
    padding: 0 10px 0 10px;
}

.terms {
    float: right;
    padding: 0 10px 0 10px;
}

.privacy {
    float: right;
    padding: 0 10px 0 10px;
}



